body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif; /* Упростить шрифты */
  background-color: #f4f4f4; /* Светлый фон */
  color: #333; /* Темно-серый цвет текста */
  line-height: 1.6; /* Увеличение расстояния между строками */
  padding: 20px; /* Отступы по краям */
}

code {
  font-family: 'Courier New', Courier, monospace; /* Более распространенный шрифт для кода */
  background-color: #e8e8e8; /* Светло-серый фон для кода */
  border-radius: 4px; /* Закругленные углы */
  padding: 2px 4px; /* Небольшие внутренние отступы */
  color: #c7254e; /* Цвет текста кода */
  display: inline-block; /* Отображение на одной строке */
}
